<div class="header topbottom">
    <div class="header topbottom-div">
        <a class="header topbottom-link headshot" href="/">
            <img class="header headshot" src="/assets/img/Austin Spivey headshot.png">
        </a>
    </div>
    {% for item in site.data.nav_data %}
    <div class="header topbottom-div">
        <a class="header topbottom-link" href="{{ item.link }}" {% if page.url == item.link %}class="current"
            {% endif %}>{{ item.name }}</a>
    </div>
    {% endfor %}
</div>