$pal-1: #1e271d;   /* Code background */
$pal-2: #274637;   /* - */
$pal-3: #2b725f;   /* - */
$pal-4: #ffa8c6;   /* Header background | Table header */
$pal-5: #819a7a;   /* - */
$pal-6: #58a448;   /* Code */
$pal-7: #17774c;   /* Header nav links | Header box shadow | old: 299c68 */
$pal-8: white;     /* Header links */
$pal-9: #3bb5ff;   /* Links */
$pal-10: #ffa8c6;  /* Link box shadow | Header nav headshot drop shadow */

html {
  // background-color: $pal-6;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.8px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
}

header {
  position: relative;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 2;
}

a {
  color: $pal-9;
  box-shadow: inset 0px -2px 0 0px $pal-10;
  // text-shadow: 0px 0px 0px white;
  text-decoration: none;

  transition: box-shadow 0.1s ease-out, text-shadow 0.1s ease-out;
}

a:hover {
  box-shadow: inset 0px -6px 0 0px $pal-10;
  // text-shadow: 0px 1px 1px white;

  transition: box-shadow 0.1s ease-out, text-shadow 0.1s ease-out;
}

a.topbottom-link, a.header-link {
  box-shadow: inset 0px -2px 0 0px $pal-9;
}

a.topbottom-link:hover, a.header-link:hover {
  box-shadow: inset 0px -6px 0 0px $pal-9;
}

.header-link, .footer-link {
  color: $pal-8;
}

.header.topbottom-link.headshot, .footer.topbottom-link.headshot {
  display: contents;
}

.header.headshot, .footer.headshot {
  width: auto;
  // max-width: 15%;
  height: 100%;
  box-shadow: none;
  z-index: 1;
  position: relative;

  -webkit-filter: drop-shadow(0px 0px 10px black);
  filter: drop-shadow(0px 0px 10px black);

  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.header.headshot:hover, .footer.headshot:hover {
  cursor: pointer;

  -webkit-filter: drop-shadow(0px 0px 15px $pal-10);
  filter: drop-shadow(0px 0px 15px $pal-10);

  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.header.headshot:hover{
  transform: translateY(0px);
}

.footer.headshot:hover {
  transform: rotate(180deg) translateY(10px);
}

.header.headshot {
  transform: translateY(10px);
}

.footer.headshot {
  transform: rotate(180deg) translateY(0px);
}

// .footer.headshot.flip {
//   transform: rotate(180deg);
// }

main {
  margin: 0 5vw;
  background-color: white;
  padding: 2vh 20vw 17vh 20vw;
  position: relative;
  z-index: 2;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Sora', sans-serif;
  color: $pal-1;
  // margin-left: -7vw;
  background-color: $pal-4;
  box-shadow: 6px 6px 0px 0px $pal-7, -3px -3px 0px 3px white;
  padding: 5px;
}

ol ul, ul ol, ul ul, ol ol {
  margin-top: 5px;
  margin-bottom: 5px;
}

p, table, ol, ul {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 1.5em;
}

table {
  margin: 0 auto;
  border: 1px solid $pal-1;
  box-shadow: 6px 6px 0px 0px $pal-1;
  background-color: $pal-1;
}

thead {
  background-color: $pal-4;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-inline: 1px dashed $pal-1;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody tr:nth-child(even) {
  background-color: #eaeaea;
  color: $pal-1;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
  color: $pal-1;
}

th, td {
  padding: 5px;
}

.current {
  color: $pal-5;
}

code {
  padding: 2px 3px;
}

div.highlight code{
  padding: 0;
}

code, div.highlight {
  background-color: $pal-1;
  color: $pal-6;
  font-family: monospace;
  font-size: 16px;
}

div.highlight {
  text-overflow: ellipsis;
  overflow: scroll;
  padding: 5px 13px 5px 10px;
}

.topbottom, .topbottom-div, .bottom-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topbottom-div {
  height: 100px;
  // border: 2px solid red;
  background: white;
  width: 100%;
}

.topbottom-link {
  text-decoration: none;
  font-size: x-large;
  color: $pal-7;
  background: white;
  width: 60%;
  padding: 2% 0;
  text-align: center;
}

.bottom-div {
  height: 40px; width: 100%;
}

.bottom-link {
  font-size: medium; text-align: center; color: #17774c
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

img {
  width: 100%;
  box-shadow: 4px 4px 0px black;
}

.tag {
  display: inline-block;
  line-height: 1.5em;
  background-color: rgba(255, 127, 80, 0.5);
  padding: 1px 7px 1px 3px;
  border-radius: 10px 10px 10px 10px;
  margin: 0 2px;
  font-family: 'Cairo', sans-serif;
  font-size: 1.1em;
  box-shadow: none;
  text-shadow: none;
  transform: translate(0, 0);

 
}

.tag:hover {
  box-shadow: 1px 0px 0px 0px darkgrey, 2px 0px 0px 0px black;;
  // text-shadow: 2px 2px rgba(211, 211, 211, 0.5), -2px -2px rgba(255, 250, 240, 0.5);
  // transform: translate(1px, 1px);
  cursor: pointer;

  transition: box-shadow 0.2s ease-out, text-shadow 0.2s ease-in-out, transform 0.2s ease-out;
}

.inner-tag {
  display: inline-block;
}

.tag .inner-tag {
  transform: none;
  transition: transform 0.2s ease-out, letter-spacing 0.2s ease-out;
}

.tag:hover .inner-tag {
  transform: translate(0px, 0px);
  letter-spacing: 1.2px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.skills-box {
  display: block;
  width: 200px;
  // border: 1px solid red;
  text-align: center;
  cursor: pointer;
}

.skills-logo {
  height: 100px;
  width: auto;
}
